doctype html
html
  head
  body
    .navbar Xetting
    .content
      .sidebar
      .detail
        .description
          .description-image
          img(src='', width='240px')
          .description-text
            .text-title
            .text-artist
            .text-time
            .text-tag
        .images
          // image section use pug
      .sidebar
