doctype html
html(lang='en')
  head
    title Xetting
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    h1.logo Xetting
    form(action="result", method="get")
      input(type='text',name='query')
      button(type="submit") Go