doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/result-component.css')
    link(rel='stylesheet', type='text/css', href='css/result.css')
  body
    .navbar Xetting
    .content
      .sidebar
        div  Advanced search
          form(action="result", method="get")
            div bookname
              input(type='text' name='query')
            div source
              input(type='text' name='source')
            div page
              input(type='text' name='page')
            button(type="submit") Go
      .result
        .advanced
          form(action="result", method="get")
            input(type="text" name="query") 
            button(type="submit") Go
        - var r=result;
        - var row=5;
        - var rowCount=1;
          .result-row
            each value,index in r
              - var componentUrl=value.thumbnail;
              - var componentTitle=value.title;
              include result-component.pug
      .sidebar