.component
  a(href="/detail?source="+componentSource+"&booknumber="+componentBooknumber)
    img.component-image(referrerpolicy="no-referrer" src=componentUrl, width='200px', height='240px' )
  .component-description #{componentTitle}
