html
  head
    script(src='https://code.jquery.com/jquery-3.4.0.min.js', integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=', crossorigin='anonymous')
  body
    h1 Hug world
    form
      | bookNumber
      input(name='nhentai', type='text')
      br
    button#nhentai(type='submit') submit via get
    form
      | bookNumber
      input(name='doujinantena', type='text')
      br
    button#doujinantena(type='submit') submit via get
    script(src='https://code.jquery.com/jquery-3.4.0.min.js', integrity='sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=', crossorigin='anonymous')
    script(defer='', src='./index.js')
