html,body{
    padding:0px;
    margin:0px;
    border:0px;
    background-color:black;
}
.navbar{
    border: 1px solid #AAAAAA;
    border-top:0px;
    border-right:0px;
    border-left:0px;

    font-size:20px;
    padding:10px;
    color:white;

    background-color:#303030;
    height:5vh;
    line-height: 5vh;
}
.sidebar{
    width:10%;
    height:95vh;
}
.content{
    display:flex;
    flex-direction: row;
    width:100%;
    height:auto;
    margin-top:2vh;
    background-color:transparent;
}
.detail{
    display:flex;
    flex-direction:column;
    border-color:whitesmoke;
    border-style:solid;
    flex-direction:column;
    width:80%;
    background-color:transparent;
    border-radius:5px;
    color:white;
}
.description{
    display:flex;
    flex-direction:row;
    min-height:30vh;
    border: 1px solid whitesmoke;
    width:100%;
}
.description-text{
    margin-left:1vw;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.images{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
    padding-left:1vw;
    padding-right:1vw;
}
.image{
    margin-top:1vh;
    margin-left:3vw;
}
img{
    width:240px;
}
.text-artist,.text-tag{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: start;
}
#download{
    border: 1px solid white;
}