html{
    padding:0px;
    margin:0px;
    border:0px;
    background-color:black;
}
.navbar{
    border-color:whitesmoke;
    border-style:solid;
    font-size:20px;
    padding:10px;
    color:white;
    border-radius:5px;

    background-color:transparent;
    height:5vh;
    line-height: 5vh;
}
.sidebar{
    width:10%;
    height:95vh;
}
.content{
    display:flex;
    flex-direction: row;
    width:100%;
    height:auto;
    background-color:transparent;
}
.detail{
    display:flex;
    flex-direction:column;
    border-color:whitesmoke;
    border-style:solid;
    flex-direction:column;
    width:80%;
    background-color:transparent;
    border-radius:5px;
    color:white;
}
.description{
    display:flex;
    flex-direction:row;
    min-height:30vh;
    border-color:whitesmoke;
    border-style:solid;
    width:100%;
}
.description-text{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.result-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.images{
    display:flex;
    flex-direction:column;
}
.images-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top:2vh;

}
img{
    width:240px;
}