html,body{
    padding:0px;
    margin:0px;
    border:0px;
    background-color:black;
}
.navbar{
    border: 1px solid #AAAAAA;
    border-top:0px;
    border-right:0px;
    border-left:0px;

    font-size:20px;
    padding:10px;
    color:white;

    background-color:#303030;
    height:5vh;
    line-height: 5vh;
}
.content{
    display:flex;
    flex-direction: row;
    width:100%;
    height:auto;
    
    margin-top:3vh;
    background-color:transparent;
}
.sidebar{
    width:10%;
    height:95vh;
}
.advanced{
    display:flex;
    flex-direction:column;
    border-color:whitesmoke;
    border-style:solid;
    width:100%;
    background-color:transparent;
    border-radius:5px;
    color:white;
    align-items: center;
}
.display{
    display:flex;
    flex-direction:column;
    width:80%;
    background-color:#303030;
    border-radius:5px;
    padding-left:1%;
    padding-right:1%;
    color:white;
}
.result{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pages{
    margin-top:4vh;
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
}